{% extends 'base.html' %}
{% load static %}

{%block title %} Музыка {% endblock %}

{% block content %}
    <div class="text col-sm-10 col-md-10 col-lg-10">

        <h1>данная страница находится в разработке</h1>

        {% for i in audios %}
            <div class="js--audio-wrap">
                <div>Аудиозапись</div>
                <p>{{i.name}}</p>
            <audio class="js--audio-cont">
                <source src="{{ i.path_audio_file }}" type="audio/mpeg">
                Тег audio не поддерживается вашим браузером.
	            <a href="/path/to/file.mp3">Скачайте музыку</a>.
            </audio>
            <a href="#" class="js--audio-play" >
                <span class="glyphicon glyphicon-play" data-toggle-class="glyphicon glyphicon-pause"></span>
            </a>
            <div class="js--timeline">
                <a href="#" class="js--timeline-control"></a>
            </div>
            <a href="#" class="js--audio-mute">
                <span class="glyphicon glyphicon-volume-up" data-toggle-class="glyphicon glyphicon-volume-off"></span>
            </a>
            </div>

        {% endfor %}

    </div>
<script>
    (function($) {
	$(document).ready(function() {
		/**
		 * Пауза, выключение звука и сдвиг ползунка timeline
		 */
		$('.js--audio-play, .js--audio-mute').on('click', function () {
			// Меняем иконку
			glyphicon = $(this).find('.glyphicon');
			toggleClass = glyphicon.data('toggle-class');
			glyphicon.data('toggle-class', glyphicon.attr('class')).removeClass().addClass(toggleClass);

			audio = $(this).closest('.js--audio-wrap').find('.js--audio-cont');
			timeline = audio.closest('.js--audio-wrap').find('.js--timeline');
			duration = audio.prop('duration');
			width = timeline.width();
			if ($(this).hasClass('js--audio-play')) {
				// Старт/пауза и двигаем ползунок
				if(audio.prop('paused')) {
					audio.trigger('play');
					idInterval = setInterval(function () {
						currentTime = audio.prop('currentTime');
						left = width*currentTime/duration;
						timeline.find('.js--timeline-control').css('left', left+'px');
						if (currentTime == duration) {
							clearInterval(idInterval);
						}
					}, 1000);
				} else {
					audio.trigger('pause');
					clearInterval(idInterval);
				}
			} else {
				// Переключаем звук
				audio.prop("muted",!audio.prop("muted"));
			}
			return false;
		});

		/**
		 * Перемотка трека по клику на timeline
		 */
		$('.js--timeline').on('click', function (e) {
			audioTime = $(this).closest('.js--audio-wrap').find('.js--audio-cont');
			duration = audioTime.prop('duration');
			if (duration > 0) {
				offset = $(this).offset();
				left = e.clientX-offset.left;
				width = $(this).width();
				$(this).find('.js--timeline-control').css('left', left+'px');
				audioTime.prop('currentTime', duration*left/width);
			}
			return false;
		});
	});
})(jQuery);
</script>
{% endblock %}


