{% extends 'base.html' %}
{% load static %}
{%block title %} Контакты {% endblock %}


{% block content %}

    <div class="text col-sm-10 col-md-10 col-lg-10 contacts">

        <h1> контакты </h1>

        <i class="fa fa-envelope-o" aria-hidden="true"> <a mailto:poljana@mail.ru> :poljana@mail.ru</a></i>

        <i class="fa fa-vk" aria-hidden="true"> <a href="https://vk.com/poljanarock "> : https://vk.com/poljanarock </a></i>

        <i class="fa fa-phone-square" aria-hidden="true"><a> : 889099389823</a> </i>

        <i class="fa fa-skype" aria-hidden="true"><a href=""> : poljana</a></i>

    </div>



{%endblock%}