{% extends 'base.html' %}
{% load static %}

{%block title %} Музыка {% endblock %}

{% block content %}
    <div class="text col-sm-10 col-md-10 col-lg-10">



                <h1>Музыка</h1>
                {% for a in albooms %}



				<div class="row content_row">
                    <div class="title_audio_alboom ">
                        <h1>{{a.alboom_name}}</h1>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text_head">


						<img src="{{a.image.url}}" class="col-xs-12 col-sm-12" alt="обложка альбома">

                    </div>

					<div class="col-sm-12 col-sm-12 col-md-7 col-lg-7 text_body_audio">

                        {% for i in audios %}


                        {%if i.alboom.id == a.id %}

                            <div id="container">


                                <div class="players" id="player1-container">



                                <div id="id_{{i.id}}" class="media-wrapper" >
                                    <div>
                                        <h5>{{i.name}}</h5>
                                        <audio id="player3dd" preload="auto" controls class="audio" src="{{ i.path_audio_file }}"></audio>
                                    </div>
                                </div>

                             </div>
                            </div>
                            {% endif %}


                        {% endfor %}




					</div>
					<div class="row content_row">
						<div class="col-sm-9 col-md-9 col-lg-9 arrow"></div>
					</div>
				</div>




        {% endfor %}
			</div>



    <div class="text col-sm-10 col-md-10 col-lg-10">

        <h1> P.S. данная страница находится в разработке</h1>



    </div>

{% endblock %}

{% block scripts_audio %}

<script id="mejs-code">
	var mediaElements = document.getElementsByTagName('audio')
	var count = mediaElements.length
	while (count > 0) {

	new MediaElementPlayer(mediaElements[count-1], {
		// This is needed to make Jump Forward to work correctly
		autoRewind: false,
		features: ['playpause', 'current', 'progress' ,'duration', 'speed', 'skipback', 'jumpforward', 'tracks',
			'chromecast', 'ads', 'vast','contextmenu'], // 'volume', 'current', 'markers',
		// Markers plugin configuration
		markers: [5, 10, 25, 40],
		markerWidth: 5,
		markerCallback: function (media, currentTime) {
			console.log('Reached ' + currentTime + ' secs');
		},
		// Ads/Vast/VPAID configuration
		vastAdTagUrl: 'vast_sample.xml',
		vastAdsType: 'vast',
		adsPrerollAdEnableSkip: true,
		adsPrerollAdSkipSeconds: 5
	});
	count--
	};


</script>


<script>
    // этот скрипт добавляет в button и mejs__duration класс с ID песни
    var media = document.getElementsByClassName("media-wrapper")

    for (i=0; i< media.length; i++) {

    var f = media[i].id

    var sp_dur = '#'+f+' .mejs__duration-container' // правило селекторов для mejs__duration-container
    var sp_cur = '#'+f+' .mejs__currenttime-container' // правило селекторов для mejs__currenttime-container
    var bt = '#'+f+' button'                    // правило селекторов для button

    var ad_dur = document.querySelector(sp_dur)
    var ad_cur = document.querySelector(sp_cur)
    var ad_bt = document.querySelector(bt)
    //console.log(sp)
    //console.log(adsp)
    //console.log(adbt)

    $(ad_dur).addClass(f)
    $(ad_cur).addClass(f)
    $(ad_bt).addClass(f)
   }
</script>

<script>
    var a = document.getElementsByClassName('media-wrapper')
    var  spcls_dur = document.getElementsByClassName('mejs__duration-container')
    var  spcls_cur = document.getElementsByClassName('mejs__currenttime-container')


    $("button").click(function(){
     for (i=0; i< spcls_dur.length; i++){


    var z =($(spcls_dur[i]).attr("class"))  //"mejs__time mejs__duration-container id_21"
    console.log('z= '+z)
    var y =($(this).attr("class"))      //"id_21"
    console.log('y= '+y)




        if (z.indexOf(y)> -1) {
            console.log("TRUE")
            $(spcls_dur[i]).addClass('hide_over')




            for (l=0; l< spcls_cur.length; l++){
                var z2 =($(spcls_cur[l]).attr("class"))
                if (z2.indexOf(y)> -1){


                $(spcls_cur[l]).addClass('visible')



                }

       }

    }
        //if ($(this).attr("class") == document.querySelector( ){




        //for (var i = 0; i < a.length; i++) {
            //var contact = a[i];
            //var sel = document.querySelectorAll("#21  span")
            //alert(sel)
            //$(sel).addClass('anton')
            //alert(contact.id);
            //alert(contact.cells[0].id); // id нулевой <td> ячейки
   }
    });



</script>

<!--script>
    var mV = document.querySelectorAll(".media-wrapper ")

	var d = document.querySelectorAll('.mejs__time > .mejs__duration')

	var i ;

	$("button").click(function(){

	    //for (i=0; i< length(mv); i++){
	    //alert(mV);}
	    $(mV).addClass("FUCK")


    	//$(d).addClass("hide_over");
	});
</script-->




{% endblock %}


